<footer class="bg-dark pt-1 text-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-auto col-lg-3 col-xl d-flex justify-content-center justify-content-sm-start justify-content-xl-center">
                <div class="d-flex flex-column align-items-center align-items-sm-start">
                    <p class="text-primary mb-1">Information for customers</p>
                    <ul class="list-unstyled mb-1">
                        <li><a class="link-light text-decoration-none" href="#">Payment and Delivery</a></li>
                        <li><a class="link-light text-decoration-none" href="#">Return of Goods</a></li>
                        <li><a class="link-light text-decoration-none" href="#">Warranty</a></li>
                        <li><a class="link-light text-decoration-none" href="#">About iGadgets</a></li>
                    </ul>
                </div>
            </div>
            <hr class="d-sm-none my-2 bg-secondary">
            <div class="col-12 col-sm-6 col-md-auto col-lg-2 col-xl d-flex justify-content-center justify-content-sm-start justify-content-xl-center">
                <div class="d-flex flex-column align-items-center align-items-sm-start">
                    <p class="text-primary mb-1">Contact Us</p>
                    <ul class="list-unstyled mb-1">
                        <li class="mb-1"><small>Mon-Sat: <br class="d-none d-lg-block d-xl-none">8:00 AM-7:00 PM</small>
                        </li>
                        <li><a class="link-light text-decoration-none" href="tel:0-800-707-07-07">0-800-707-07-07</a>
                        </li>
                        <li>
                            <a href="mailto:support@igadget.ua" class="link-light mb-2 text-decoration-none">
                                support@igadget.ua
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="d-sm-none my-2 bg-secondary">
            <div class="col-12 col-sm-6 col-md-auto col-lg-2 col-xl d-flex justify-content-center justify-content-sm-start justify-content-xl-center">
                <div class="d-flex flex-column align-items-center align-items-sm-start mt-sm-2 mt-md-0">
                    <p class="text-primary mb-1">Download App</p>
                    <ul class="list-unstyled mb-1">
                        <li class="mb-2">
                            <a href="#" class="text-decoration-none">
                                <img src="/img/google-play-badge.png" width="120" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none">
                                <img src="/img/app-store-badge.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="d-sm-none my-2 bg-secondary">
            <div class="col-12 col-sm-6 col-md-auto col-lg-2 col-xl d-flex justify-content-center justify-content-sm-start justify-content-xl-center">
                <div class="d-flex flex-column align-items-center align-items-sm-start mt-sm-2 mt-md-0">
                    <p class="text-primary mb-2">Follow Us</p>
                    <div class="">
                        <a href="#" class="btn p-1 me-2 mb-2 fs-4 lh-0" style="background: #1DA1F2;">
                            <i class="bi-twitter text-white"></i>
                        </a><a href="#" class="btn p-1 me-2 mb-2 fs-4 lh-0" style="background: #3b5998;">
                            <i class="bi-facebook text-white"></i>
                        </a><a href="#" class="btn p-1 me-2 mb-2 fs-4 lh-0 bg-white">
                            <i class="bi-telegram" style="color: #229ED9;"></i>
                        </a><br class="d-none d-md-block d-xl-none"><a href="#" class="btn p-1 me-2 mb-2 fs-4 lh-0"
                                                                       style="background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); border-top-color: #285AEB">
                            <i class="bi-instagram text-white"></i>
                        </a><a href="#" class="btn p-1 mb-2 fs-4 lh-0 bg-white">
                            <i class="bi-youtube" style="color: #ff0000;"></i>
                        </a>
                    </div>
                </div>
            </div>
            <hr class="d-sm-none my-2 bg-secondary">
            <div class="col-12 col-lg-3 col-xl d-flex justify-content-center align-items-lg-center order-lg-first">
                <div class="d-inline-block text-center">
                    <a href="#" class="text-decoration-none text-white fs-4">
                        <span class="text-primary fw-bold">i</span>Gadgets
                    </a><br class="d-none d-lg-block">
                    <span class="text-white mb-2">&copy; 2015-2022</span>
                    <div>
                        <img src="/img/mastercard-logo.svg" alt="mastercard-verified">
                        <img src="/img/visa-logo.svg" alt="visa-verified">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/js/bootstrap.bundle.min.js"></script>
<% if (!firstName) { %>
    <script src="/js/sign-up-form-validation.js"></script>
    <script src="/js/log-in-popover.js"></script>
<% } else { %>
    <script src="/js/cart-buttons.js"></script>
<% } %>